.backcolor_nav{
    background-color:#F6F4DB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.font_nav{
    color: #4a91e1;
    font-size: 23px;
    text-align: center;
}

.nav_button{
    background-color: #f15e2b;
    color: #F6F4DB;
}


.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }

.yeseva {
    font-family: "Yeseva One", serif;
    font-weight: 1000;
    font-style: normal;
  }

.nunito_copyright{
    font-size: 10px;
}

.backcolor_footer{
    background-color: #F6F4DB;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.font_footerh3{
    color: #4a91e1;
}

.font_footercuerpo{
    color: #4a91e1;
    font-size: 17px;
}

.iconos_footer{
    color: #4a91e1;
    font-size: 40px;
}

.iconos_footerdos{
    color: #4a91e1;
    font-size: 60px;
    margin-right: 10px;
}

.font_footercuerpodos{
    color: #4a91e1;
    font-size: 18px;
}

#fondo_principal{
    background-image: url("../img/fondo_citas.png");
    padding-top: 40px;
    padding-bottom: 40px;
}

#imagen_doggie{
    background-image: url(../img/doggie_citas.jpg);
    padding-top: 130px;
    padding-bottom: 130px;
    background-repeat: no-repeat;
    background-size:cover;
    height: 600px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    
}

.h1_titulo{
    font-size: 130px;
    color:#F6F4DB;
    padding-top: 95px;
    opacity: 100%;
}


